body {
    margin: 20px;
    background-color: black;}
h1{
    text-align:center;
    color:gold;
    display:block;
    pladding-bottom:30px;
;

}
body img{
    display:block;
    margin:auto;
    padding: 0px 0px 30px 0px;
}
